@model Setor

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Setor</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Adicionar" asp-antiforgery="true" method="post">
                    <h6 class="heading-small text-muted mb-4">Informações</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Nome" class="form-control-label" for="input-username">Nome</label>
                                    <input asp-for="Nome" type="text" id="input-name" class="form-control" placeholder="Produção">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="MatriculaResponsavel" class="form-control-label" for="input-email">Responsável</label>
                                    <input asp-for="MatriculaResponsavel" type="number" id="input-responsavel" class="form-control" placeholder="Id do Responsável (Ex: 1, 2, 3 ...)">
                                    <span asp-validation-for="MatriculaResponsavel" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />

                    <div class="text-center">
                        <button id="botao-adicionar" type="submit" class="btn btn-primary mt-4">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>